// COLORS | SWATCHES
$color_dark_gray: #010101;
$color_light_gray: #252525;
$color_light_white: #ebebeb;
$color_light_orange: #ff7900;
$color_dark_orange: #ff4000;
$color_light_blue: #667f7f;

// DIMENSIONS
$wrap_width:	980px;