@import "reset";
@import "config";
@import "helper";


// BASE
html {overflow-y: scroll;}
body {font: 14px "Calibri", "Lucida Sans", Helvetica, Arial, sans-serif; color: $color_light_white; background: $color_light_gray;}
    a {text-decoration: none; @include transition(all, 0.15s, ease-out); color: $color_dark_orange;}
    a:active {position: relative; top: 1px;}
	a:hover {color: $color_light_orange;}
	ul {list-style: none;}
	hr {clear: both}
	hr.thick {border-width: 6px; border-color: #000;}
	h1 {font-size: 40px; width: 400px; float: left;
		& a {display: block;}
	}
	h2 {font-size: 32px; width: 800px; float: left;}
#container {position: relative; margin: 0 auto; width: $wrap_width; padding: 10px 0 20px 0; opacity: 1; min-height: 800px;}
	#wrap {position: relative;}
// END BASE

// HEADER
	#header {width: 100%;}
	

	#nav {float: right; position: relative; top: 13px;
		li {float: left; margin-left: 10px; font-size: 16px;
			& a {display: block; padding: 5px; background: rgba(255, 255, 255, 0.1); @include corner(); width: 120px; text-align: center;				
				&:hover,
				&.on {background: $color_light_white; color: $color_dark_orange;}	
			}
		}
	}
// END HEADER

// PAGES	
	.page {position: absolute; top: 70px; width: 980px;}
	
	// schedule a new game
	#schedule { display: none;
		.game-table {
			.body ul {margin: 0;}
			.body li {width: 920px; color: $color_dark_gray; @include boxshadow(rgba(255, 255, 255, 0.4), 0, 0, 0)}
			.body input[type=radio] {margin-right: 5px;
					+ label {position: relative; top: 2px; margin-right: 10px;}
				}
			.body .input-date {float: left; width: 250px;}
			.body .input-time {float: left;}
		}
		
		#attendees-conatiner {float: left;}
		#attending-container {float: left; clear: left; margin-top: 20px;
			#attendees {float: left; min-height: 20px;
				& p {float: left; width: 150px; color: $color_light_orange; background: #fff; @include corner(); padding: 5px; text-indent: 5px; margin: 5px; line-height: 26px;
					& .delete {color: #aa0000; float: right; background: transparent; width: 12px; text-align: center; margin-right: 10px;
						&:hover {color: #ff0000;};
					}
				}
			}
		}
	}
	
	
	// profile
	#profile { display: none;
		& .profile-detail {float: left; clear: left; margin-bottom: 30px;
			& .avatar {width: 150px; height: 113px; border: 5px solid $color_light_white; @include boxshadow(#000, 0, 0, 3px); @include corner(); float: left;}
			& .content {float: left; width: 790px; margin-left: 20px;
				& .gamertags {margin-top: 10px; float: left;
					& li {float: left; width: 170px; padding: 10px; margin-right: 10px; @include corner(); background: $color_light_white; @include boxshadow(#000, 0, 1px, 3px);
						& p:first-child {font-weight: bold; font-size: 16px; color: $color_light_orange;}
						& .gamertag {float: left; clear: left; margin-top: 10px; color: $color_dark_gray;}
						&:last-child {margin-right: 0}
					}
				}
			}
		}		
	}	


	.filters {float: right; position: relative; top: 10px;}
	// game table
	.game-table {background: $color_light_white;
		& li {background: rgba(0, 0, 0, 0.3); float: left; padding: 10px; @include corner(); margin: 5px 0;}
		& .header {background: $color_light_blue; color: $color_light_white; float: left; width: 940px; height: 30px; @include corner(); padding: 0 10px; line-height: 30px; margin-bottom: 5px; @include boxshadow(#000, 0, 0, 3px);}
			& .header p {float: left; font-size: 16px; font-weight: bold; margin-right: 10px;
					&.console {text-transform: uppercase; position: relative; top: 1px;}
					&.game {font-style: italic; position: relative; top: 1px;}
					&.time {float: right;}
				}
		& .body {width: 940px; background: $color_light_white; float: left; padding: 10px; @include corner();}
		 	& .body ul {width: 940px; margin: 0 0 0 25px;}
				& .body li {float: left; background: rgba(255, 255, 255, 0.5); @include corner(); margin: 5px; padding: 4px;  @include boxshadow(rgba(0, 0, 0, 0.4), 0, 1px, 3px);
						&.open span,
						&.open a {opacity: 1; text-transform: uppercase;}
					}
					& .body li span,
					& .body li a {@include corner(); width: 130px; height: 26px; background: $color_light_gray; display: block; line-height: 27px; text-indent: 10px; opacity: 0.5;
						&:hover {background: $color_light_orange; color: #fff;}
					}
					
					& .body li span:hover {background: $color_light_gray; color: #fff;}
		
	}

// END PAGES

// ICONS
.icon {background: url('/www/resources/imgs/sprite-icons.png') no-repeat; width: 27px; height: 27px; float: left; display: block;}
.icon.icon-wii {background-position: 0 0;}
.icon.icon-ps3 {background-position: -28px 0;}
.icon.icon-xbox360 {background-position: -56px 0;}
.icon.icon-pc {background-position: -84px 0;}
.icon.icon-logo {background-position: 0 -50px; width: 240px; height: 60px;}

// END ICONS	
